[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.show-pointer {
    cursor: pointer;
}

.modal-overlay {
  background-color: #333;
  position: fixed;
  opacity: 0.3;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.modal-container {
  padding: 2em;
  background-color: #fff;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 800px;
  margin-left: -250px;
}

.response:hover {
  background-color: #eee;
}

.action-container{
  float:right;
}

.actions-bar button {
  float:left;
  margin-right: 0.5em;
}

.actions-bar a {
  display:block;
}

.preview-container {
  position: relative;
}

.preview-container .toolbox-button {
  position: absolute;
  font-size: 18px;
  padding: 0.5em;
  right: 0;
  top: 0;
  color: #ccc;
  text-shadow: 1px 1px 1px #fff;
}

