<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link href="css/site.css" type="text/css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app='stubApp' class="ng-cloak">

    <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    api-stub-server {{version}}
                </a>
            </div>
        </div>
    </nav>
    <div ng-controller="ResponseController">
        <div class="container">
            <div class="row">
                <div class='col-md-3'>
                    <ul class="nav nav-pills nav-stacked">
                        <li role='presentation' ng-repeat='response in responses'>
                            <a class='show-pointer' ng-click='showResponseDetails(response)'><span style='text-transform:uppercase;'>{{response.method}}</span> {{response.url}}</a>
                        </li>
                    </ul>
                </div>

                <div class='col-md-9' ng-if='selectedResponse'>

                    <p ng-if='!editing'>
                        <strong>{{ selectedResponse.method}} {{ selectedResponse.url }}</strong>
                        <a class='show-pointer' ng-click='startEditing()'>edit</a>
                    </p>

                    <pre ng-if='!editing'>{{ selectedResponse.jsonText }}</pre>

                    <div ng-if='editing'>

                        <form class='form-horizontal'>
                            <div class='form-group'>
                                <div class='col-sm-2'>
                                    <select class='form-control' ng-model='selectedResponse.method' ng-options='verb for verb in verbs'>
                                </select>
                                </div>

                                <div class='col-sm-10'>
                                    <input type='text' class='form-control' ng-model="selectedResponse.url" />
                                </div>


                            </div>
                            <div class='form-group'>
                                <div class='col-sm-12'>
                                    <textarea class="form-control" style='font-family:monospace;' rows="10">{{ selectedResponse.jsonText }}</textarea>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='pull-right'>
                                    <button class='btn btn-info' ng-click='endEditingAndSave()'>Update</button>
                                    <button class='btn' ng-click='cancelEditing()'>Cancel</button>

                                    <br><br>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>


    <script src='js/app.js'></script>

</body>

</html>