<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr"
        crossorigin="anonymous">
    <link href="css/site.css" type="text/css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src='/node_modules/lodash/lodash.js'></script>
</head>

<body ng-app='stubApp' class="ng-cloak">
    <div ng-controller='NavbarController'>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                    api-stub-server {{version}}
                </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class='show-pointer'>&nbsp;<span class='glyphicon glyphicon-upload'></span>&nbsp;</a>
                    </li>
                    <li>
                        <a class='show-pointer'>&nbsp;<span class='glyphicon glyphicon-download'></span>&nbsp;</a>
                    </li>
                    <li ng-class="{ active: jsonPreview }">
                        <a class='show-pointer' ng-click='toggleJSONPreview()'>&nbsp;<span class='glyphicon glyphicon-th-list'></span>&nbsp;</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class='container'>
        <div class='action-container'>
            <button class='btn btn-success' ng-click='createNew()'><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Add new</button>
        </div>
        </div>
    </div>
    <div ng-controller="ResponseController">
        <div class="container">
            <div class="row">
                <div class='col-md-12'>
                    <div ng-repeat='response in responses'>
                        <ng-switch on='isEditing(response)'>
                            <div ng-switch-when='false'>
                                <p>
                                    <button class='btn btn-primary btn-xs' ng-click='startEditing(response)'>Edit</button>
                                    <button ng-if='!response.confirmDelete' class='animate-if btn btn-danger btn-xs' ng-click='promptDelete(response)'><span class=''></span> Delete</button>
                                    <button ng-if='response.confirmDelete' class='btn btn-default btn-xs' ng-click='cancelDelete(response)'>Cancel</button>
                                    <button ng-if='response.confirmDelete' class='btn btn-danger btn-xs' ng-click='delete(response)'><span class=''></span> Confirm</button>
                                    <label ng-class='response.cssClassName' ng-click='startEditing(response)' class='show-pointer'>{{ response.method}} {{ response.url }}</label>
                                </p>
                                <pre ng-if='jsonPreview' ng-click='startEditing(response)' class='show-pointer'>{{ response.jsonText }}</pre>
                            </div>

                            <div ng-switch-when='true'>
                                <br>
                                <form class='form-horizontal'>
                                    <div class='form-group'>
                                        <div class='col-sm-2'>
                                            <select class='form-control' ng-model='response.method' ng-options='verb for verb in verbs'>
                                </select>
                                        </div>

                                        <div class='col-sm-10'>
                                            <input type='text' class='form-control' ng-model="response.url" />
                                        </div>


                                    </div>
                                    <div class='form-group'>
                                        <div class='col-sm-12'>
                                            <textarea id='editor_{{ response.uid }}' ng-keydown="jsonBodyKeyDown($event, response)" class="form-control" style='font-family:monospace;' rows="10" ng-model='response.jsonText'></textarea>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <div class='pull-right'>
                                            <button class='btn btn-info' ng-click='endEditingAndSave(response)'>Update</button>
                                            <button class='btn' ng-click='cancelEditing(response)'>Cancel</button>

                                            <br><br>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </ng-switch>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


    <script src='js/app.js'></script>

</body>

</html>